.artists-main-header-section {
    font-size: 18px;
    font-weight: 600;
    color: #4343ef;
    margin-bottom: 10px;
}

.artists-main-header-section h1 {
    margin: 0;
}

.main-artists-display-contianer {
    height: 450px;
    overflow-y: auto;
}

.artists-display-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 0px 20px 25px;
    margin-bottom: 00px;
    display: flex;
    justify-content: center;
}

.main-artists-display-contianer {
    width: 50%;
    transition: 0.5s ease-in;
}

.main-artists-info-display {
    width: 50%;
    padding: 20px 20px;
    border-left: 2px solid #f0f0f5;
    transition: 0.5s ease-in;
    overflow-y: auto;
    position: relative;
    height: 400px;
}

#dark .main-artists-info-display {
    border-left-color: #000;
}

.main-artists-info-header {
    border-bottom: 2px solid #f0f0f5;
    margin-bottom: 16px;
}

#dark .main-artists-info-header {
    border-bottom-color: #4d4d56;
}

.play-main-artists {
    width: 14px;
    height: 14px;
    fill: #4343ef;
    margin-right: 5px;
}

.shuffle-main-artists {
    width: 14px;
    height: 14px;
    fill: #4343ef;
    margin-right: 5px;
}

.main-artists-info-header-text p {
    margin: 7px 0;
}

.main-artists-info-header-text p:first-child {
    font-size: 24px;
    font-weight: 600;
    color: #4d4d56;
}

.main-artists-info-header-text p:nth-child(2) {
    font-size: 14px;
    color: #787887;
}

.main-artists-info-play-shuffle {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}

.main-artists-info-play-shuffle span {
    color: #4343ef;
}

.main-artists-info-play-shuffle span:first-child {
    margin-right: 36px;
}

.artists-album-card-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.see-more-artist-info p {
    font-size: 14px;
    color: #4343ef;
    cursor: pointer;
}

.overlay-albums {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}