.favourite-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.main-page-display {
    /* border: 1px solid; */
    position: relative;
}

.favourite-header-section h1 {
    font-size: 24px;
    color: #4343ef;
    font-weight: 600;
}

.play-favourite {
    width: 14px;
    height: 14px;
    fill: #4343ef;
    margin-right: 5px;
}

.shuffle-favourite {
    width: 14px;
    height: 14px;
    fill: #4343ef;
    margin-right: 5px;
}

.favourite-header-section-col-2 {
    display: flex;
    align-items: center;
}

.favourite-header-section-col-2 span {
    font-size: 14px;
    color: #4343ef;
}

.favourite-header-section-col-2 span:first-child {
    margin-right: 36px;
}

.favourite-cards-container {
    display: flex;
    flex-direction: column;
}

.favourite-songs {
    overflow-y: auto;
    height: 474px;
}