.sign-up-main-container {
    display: flex;
    justify-content: center;
}

.sign-up-card-main {
    width: 40%;
    margin: 40px 0;
}

.sign-up-logo {
    display: flex;
    justify-content: center;
}

.sign-up-with-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-with-container h1{
    text-align: center;
    font-size: 25px;
}

.sign-up-form {
    padding: 10px;
    margin-top: 20px;
}


.inputs-for-sign-up {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.inputs-for-sign-up label {
    font-size: 14px;
    font-weight: 520;
    margin-bottom: 5px;
}

.inputs-for-sign-up input {
    width: 95%;
    height: 35px;
    border: 1px solid grey;
    font-size: 17px;
    font-family: inherit;
    padding: 5px 10px;
}

.inputs-for-sign-up input:focus {
    outline: none;
}

.date-of-birth {
    display: flex;
    margin-top: 20px;
}

.custom-year {
    display: flex;
    border: 1px solid;
}

.gender-section {
    margin-top: 30px;
}

.gender-section p {
    font-size: 14px;
    font-weight: 520;
}

.gender-section input {
    margin: 0  10px;
}

.gender-section label {
    margin-right: 20px;
}

.agree-to-terms-and-conditions {
    margin-top: 30px;
}

.agree-to-terms-and-conditions div label {
    font-size: 11px;
}

.agree-to-terms-and-conditions p {
    font-size: 11px;
    margin-top: 30px;
}

.btn-container-sign-up {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.login-redirect {
    margin-top: 50px;
}

.login-redirect {
    text-align: center;
    font-size: 15px;
}

.sign-up-links {
    cursor: pointer;
    color: #4343ef;
}

.login-inner-logo-text-contianer {
    cursor: pointer;
}

.continue-with-login-method {
    cursor: pointer;
}

.show-hide-sign-up {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    bottom: 13px;
}