.artists-card-main-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.artists-card-cover-image {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

.artists-card-cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}