.featured-albums-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore-header-title {
    font-size: 18px;
    color: #4D4D56;
}

.explore-header-title-2 {
    font-size: 14px;
    color: #4343ef;
}

.featured-albums-display {
    display: flex;
}

