.my-music-card-main {
    padding: 17px 18px;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.inner-my-music-card-main {
    display: flex;
    color: #24242E;
}

.my-music-cover-title-artist {
    width: 80%;
    display: flex;
    align-items: center;
}

.my-music-card-time-like-others {
    flex: 1;
    display: flex;align-items: center;
    justify-content: space-between;
}

.my-music-card-cover {
    width: 67px;
    height: 67px;
    border-radius: 10px;
    margin-right: 25px;
}

.my-music-card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.my-music-card-title-artist p {
    margin: 3px;
}

.my-music-card-title-artist p:first-child {
    font-size: 18px;
    font-weight: 600;
}

.my-music-card-title-artist p:nth-child(2) {
    font-size: 13px;
}