.new-music-card-main-cover-img {
    width: 145px;
    height: 145px;
    cursor: pointer;
}

.new-music-card-main-cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.new-music-card-info p:first-child {
    font-size: 16px;
    font-weight: 600;
    color: #4d4d56;
    margin: 3px;
}

.new-music-card-info p:nth-child(2) {
    font-size: 14px;
    color: #4d4d56;
    margin: 0;
}

.new-music-card-main {
    margin: 0 10px;
}