.new-music-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-music-inner-container {
    display: flex;
    justify-content: center;
}

.new-musics-container {
    display: flex;
    width: fit-content;
}